.wrapper {
  display:flex;
}

.chat-side {
  display:block;
  position: fixed;
  width:300px;
  height:100vh;
  max-width:300px;
  color:#fff;
}

.side-header {
  position: fixed;
  width:300px;
  height:100px;
  padding:0 20px;
  box-sizing: border-box;
  background-color:#253141;
}

.side-header__box {
  display:flex;
  justify-content: space-between;
  align-items:center;
 
  h1 {
    font-weight: bold;
    line-height: 100px;
    font-size:16px;
  }

  li {
    float:left;
    i {
      color:#fff;
      font-size:16px;
    }
    &:nth-child(2){
      margin-left: 5px;
    }
  }
}

.side_groups {
  display: block;
  margin-top:100px;
  padding-top:20px;
  height:100%;
  box-sizing: border-box;
  background-color:#2f3e51;
  overflow: scroll;
}

.group-content {
  padding:0 20px 40px 20px;
  background-color:#2f3e51;

}

.side_group-name {
  h2 {
    font-size: 15px;
    color:#fff;
  }
}
.side_group-message {
  p {
    font-size: 11px;
    padding-top:10px;
    color:#fff;
  }
}
